In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as m

In [2]:
dataframe = pd.read_csv('train.csv')
dataframe

,Id,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,7495,Rent,402192.0,< 1 year,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,7496,Home Mortgage,1533984.0,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,7497,Rent,1878910.0,6 years,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,7498,Home Mortgage,NaN,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,7499,Rent,NaN,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

In [3]:
df = dataframe.copy()

1. Drop Id column since it's the same with row index

In [4]:
df = df.drop(columns = ['Id'], axis=1)
df

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,Rent,402192.0,< 1 year,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,Home Mortgage,1533984.0,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,Rent,1878910.0,6 years,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,Home Mortgage,NaN,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,Rent,NaN,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

2. Change Home Owership column to number

In [5]:
df['Home Ownership'].unique()

array(['Own Home', 'Home Mortgage', 'Rent', 'Have Mortgage'], dtype=object)

In [6]:
replace_dic = {'Own Home': 0, 'Home Mortgage': 1, 'Rent': 2, 'Have Mortgage': 3}
df['Home Ownership'].replace(replace_dic, inplace=True)
df

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,0,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,1,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,0,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,2,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,402192.0,< 1 year,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,1,1533984.0,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,2,1878910.0,6 years,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,1,NaN,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,2,NaN,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

3. Fill missing value by mean for Annual Income column.

In [7]:
df['Annual Income'].isna().sum()

1557

In [8]:
df['Annual Income'] = df['Annual Income'].fillna(df['Annual Income'].mean())
df

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,0,1.025487e+06,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,1,7.514120e+05,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,0,8.050680e+05,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,2,7.762640e+05,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,< 1 year,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,1,1.533984e+06,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,2,1.878910e+06,6 years,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,1,1.366392e+06,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,2,1.366392e+06,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

4. Convert Years in current job column to number and fill missing value

In [9]:
df['Years in current job'] = df['Years in current job'].str.extract(pat='(\d+)', expand=False)
df['Years in current job'] = df['Years in current job'].astype(float)
df['Years in current job'] = df['Years in current job'].fillna(df['Years in current job'].mean())
df

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,5.959321,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,0,1.025487e+06,10.000000,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,1,7.514120e+05,8.000000,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,0,8.050680e+05,6.000000,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,2,7.762640e+05,8.000000,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,1.000000,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,1,1.533984e+06,1.000000,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,2,1.878910e+06,6.000000,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,1,1.366392e+06,5.959321,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,2,1.366392e+06,4.000000,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

5. Drop Tax Liens column since 95% of them are zero

In [10]:
df = df.drop(columns = ['Tax Liens'], axis=1)

6. Fill missing value for column Months since last delinquent

In [11]:
df['Months since last delinquent'] = df['Months since last delinquent'].fillna(0.0)
df

,Home Ownership,Annual Income,Years in current job,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,5.959321,11.0,26.3,685960.0,1.0,0.0,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,0,1.025487e+06,10.000000,15.0,15.3,1181730.0,0.0,0.0,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,1,7.514120e+05,8.000000,11.0,35.0,1182434.0,0.0,0.0,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,0,8.050680e+05,6.000000,8.0,22.5,147400.0,1.0,0.0,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,2,7.762640e+05,8.000000,13.0,13.6,385836.0,1.0,0.0,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,1.000000,3.0,8.5,107866.0,0.0,0.0,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,1,1.533984e+06,1.000000,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,2,1.878910e+06,6.000000,12.0,32.1,1778920.0,0.0,0.0,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,1,1.366392e+06,5.959321,21.0,26.5,1141250.0,0.0,0.0,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,2,1.366392e+06,4.000000,8.0,9.4,480832.0,0.0,0.0,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

7. Fill missing value for column Bankruptcies

In [12]:
df['Bankruptcies'] = df['Bankruptcies'].fillna(0.0)

8. Convert column Purpose to number

In [13]:
key_arr = df['Purpose'].unique()
replace_dic_2 = {}
for i in range(len(key_arr)):
    replace_dic_2[key_arr[i]] = float(i)
print(replace_dic_2)
df['Purpose'].replace(replace_dic_2, inplace=True)    
df

{'debt consolidation': 0.0, 'other': 1.0, 'home improvements': 2.0, 'take a trip': 3.0, 'buy a car': 4.0, 'small business': 5.0, 'business loan': 6.0, 'wedding': 7.0, 'educational expenses': 8.0, 'buy house': 9.0, 'medical bills': 10.0, 'moving': 11.0, 'major purchase': 12.0, 'vacation': 13.0, 'renewable energy': 14.0}

,Home Ownership,Annual Income,Years in current job,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,5.959321,11.0,26.3,685960.0,1.0,0.0,1.0,0.0,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,0,1.025487e+06,10.000000,15.0,15.3,1181730.0,0.0,0.0,0.0,0.0,Long Term,264968.0,394972.0,18373.0,737.0,1
2,1,7.514120e+05,8.000000,11.0,35.0,1182434.0,0.0,0.0,0.0,0.0,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,0,8.050680e+05,6.000000,8.0,22.5,147400.0,1.0,0.0,1.0,0.0,Short Term,121396.0,95855.0,11338.0,694.0,0
4,2,7.762640e+05,8.000000,13.0,13.6,385836.0,1.0,0.0,0.0,0.0,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,1.000000,3.0,8.5,107866.0,0.0,0.0,0.0,1.0,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,1,1.533984e+06,1.000000,10.0,26.5,686312.0,0.0,43.0,0.0,0.0,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,2,1.878910e+06,6.000000,12.0,32.1,1778920.0,0.0,0.0,0.0,4.0,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,1,1.366392e+06,5.959321,21.0,26.5,1141250.0,0.0,0.0,0.0,0.0,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,2,1.366392e+06,4.000000,8.0,9.4,480832.0,0.0,0.0,0.0,0.0,Short Term,26928.0,288192.0,9061.0,NaN,0

9. Convert column Term to number

In [14]:
print(df['Term'].unique())
replace_dic_3 = {'Short Term': 0.0, 'Long Term': 1.0}
df['Term'].replace(replace_dic_3, inplace=True)
df

['Short Term' 'Long Term']

,Home Ownership,Annual Income,Years in current job,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,5.959321,11.0,26.3,685960.0,1.0,0.0,1.0,0.0,0.0,99999999.0,47386.0,7914.0,749.0,0
1,0,1.025487e+06,10.000000,15.0,15.3,1181730.0,0.0,0.0,0.0,0.0,1.0,264968.0,394972.0,18373.0,737.0,1
2,1,7.514120e+05,8.000000,11.0,35.0,1182434.0,0.0,0.0,0.0,0.0,0.0,99999999.0,308389.0,13651.0,742.0,0
3,0,8.050680e+05,6.000000,8.0,22.5,147400.0,1.0,0.0,1.0,0.0,0.0,121396.0,95855.0,11338.0,694.0,0
4,2,7.762640e+05,8.000000,13.0,13.6,385836.0,1.0,0.0,0.0,0.0,0.0,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,1.000000,3.0,8.5,107866.0,0.0,0.0,0.0,1.0,0.0,129360.0,73492.0,1900.0,697.0,0
7496,1,1.533984e+06,1.000000,10.0,26.5,686312.0,0.0,43.0,0.0,0.0,1.0,444048.0,456399.0,12783.0,7410.0,1
7497,2,1.878910e+06,6.000000,12.0,32.1,1778920.0,0.0,0.0,0.0,4.0,0.0,99999999.0,477812.0,12479.0,748.0,0
7498,1,1.366392e+06,5.959321,21.0,26.5,1141250.0,0.0,0.0,0.0,0.0,0.0,615274.0,476064.0,37118.0,NaN,0
7499,2,1.366392e+06,4.000000,8.0,9.4,480832.0,0.0,0.0,0.0,0.0,0.0,26928.0,288192.0,9061.0,NaN,0

10. Fill missing value for column Credit Score

In [15]:
print(df['Credit Score'].isna().sum())
df['Credit Score'] = df['Credit Score'].fillna(df['Credit Score'].mean())
df

1557

,Home Ownership,Annual Income,Years in current job,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,4.820870e+05,5.959321,11.0,26.3,685960.0,1.0,0.0,1.0,0.0,0.0,99999999.0,47386.0,7914.0,749.000000,0
1,0,1.025487e+06,10.000000,15.0,15.3,1181730.0,0.0,0.0,0.0,0.0,1.0,264968.0,394972.0,18373.0,737.000000,1
2,1,7.514120e+05,8.000000,11.0,35.0,1182434.0,0.0,0.0,0.0,0.0,0.0,99999999.0,308389.0,13651.0,742.000000,0
3,0,8.050680e+05,6.000000,8.0,22.5,147400.0,1.0,0.0,1.0,0.0,0.0,121396.0,95855.0,11338.0,694.000000,0
4,2,7.762640e+05,8.000000,13.0,13.6,385836.0,1.0,0.0,0.0,0.0,0.0,125840.0,93309.0,7180.0,719.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,4.021920e+05,1.000000,3.0,8.5,107866.0,0.0,0.0,0.0,1.0,0.0,129360.0,73492.0,1900.0,697.000000,0
7496,1,1.533984e+06,1.000000,10.0,26.5,686312.0,0.0,43.0,0.0,0.0,1.0,444048.0,456399.0,12783.0,7410.000000,1
7497,2,1.878910e+06,6.000000,12.0,32.1,1778920.0,0.0,0.0,0.0,4.0,0.0,99999999.0,477812.0,12479.0,748.000000,0
7498,1,1.366392e+06,5.959321,21.0,26.5,1141250.0,0.0,0.0,0.0,0.0,0.0,615274.0,476064.0,37118.0,1151.087498,0
7499,2,1.366392e+06,4.000000,8.0,9.4,480832.0,0.0,0.0,0.0,0.0,0.0,26928.0,288192.0,9061.0,1151.087498,0

In [16]:
df.isna().sum()

Home Ownership                  0
Annual Income                   0
Years in current job            0
Number of Open Accounts         0
Years of Credit History         0
Maximum Open Credit             0
Number of Credit Problems       0
Months since last delinquent    0
Bankruptcies                    0
Purpose                         0
Term                            0
Current Loan Amount             0
Current Credit Balance          0
Monthly Debt                    0
Credit Score                    0
Credit Default                  0
dtype: int64

In [17]:
df.dtypes

Home Ownership                    int64
Annual Income                   float64
Years in current job            float64
Number of Open Accounts         float64
Years of Credit History         float64
Maximum Open Credit             float64
Number of Credit Problems       float64
Months since last delinquent    float64
Bankruptcies                    float64
Purpose                         float64
Term                            float64
Current Loan Amount             float64
Current Credit Balance          float64
Monthly Debt                    float64
Credit Score                    float64
Credit Default                    int64
dtype: object

###### Reference

Data: https://www.kaggle.com/datasets/arrseniy/bank-information-about-creditors?select=train.csv